#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
  keymap {
    compatible = "zmk,keymap";

    default_layer {
      // |  TAB |  1  |  2  |  3  |  4  |  5  |  6  |
      // | CTRL |  Q  |  W  |  E  |  R  |  T  |  Y  |
      // | ALT  |  A  |  S  |  D  |  F  |  G  |  H  |
      // | GUI  |  Z  |  X  |  C  |  V  |  B  |  N  |
      // | ESC  | TAB |SHIFT|CTRL |ENTER|
      // |SPACE |BSPC |LEFT |RIGHT|
      bindings = <
        &kp M     &kp N1     &kp N2     &kp N3     &kp N4     &kp N5     &kp N6      // Row 0 (numbers)
        &kp N     &kp Q     &kp W     &kp E     &kp R     &kp T     &kp Y      // Row 1 (letters)
        &kp K     &kp A     &kp S     &kp D     &kp F     &kp G     &kp H      // Row 2 (letters)
        &kp J     &kp Z     &kp X     &kp C     &kp V     &kp B                   // Row 3 (letters)
        &kp H      &kp L   &kp P  &kp O &kp U                         // Row 4 (5 keys only)
        &kp SPACE    &kp O  &mo 2  &mo 1                                   // Row 5 (thumb cluster)
      >;
    };
    lower_layer {
      bindings = <
        &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans
      >;
    };

    raise_layer {
      bindings = <
        &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans
      >;
    };
  };
}